@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    border:1px solid black;
    background: rgb(21, 21, 21); 
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: relative;
    width: 80%;
    padding: 20px;
    border: 1px solid #201d1d;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 25px -8px #000;
}

#search-container{
    padding: 10px 220px;
    margin-left: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -45px; 
}

#search-container input[type='text']{
    outline: none;
    height: 30px;
    width: 200px;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid rgb(141, 141, 141);
}

#search-container input[type='text']:hover{
    border: 1px solid #2d93b0;
    cursor: pointer;
}

#search-container input[type='text']::placeholder{
    color: rgb(104, 103, 103);
}

#favourites{
    
    height: 40px;
    width: 120px;
    color: bold #4949c4;
    background-color: #20f309;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

#favourites:hover{
    background-color: #c09405;
    color: #130202;
}

#favourites:active{
    transform: scale(0.95);
}

#movie-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    overflow: hidden;
}

.card:hover .poster::before{
    bottom: 0px;
}

.card .poster img{
    width: 100%;
    height: 400px;
    transition: 0.5s;
}

.card:hover .poster img{
    transform: translateY(-50px);
    filter: blur(5px);
}

.card .details{
    position: absolute;
    width: 100%;
    height: 350px;
    bottom: -250px;
    left: 0;
    padding: 20px;
    z-index: 3;
    transition: 0.5s;
}

.card:hover .details{
    bottom: 0px;
}

.card .details .title{
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;
    opacity: 0.8;
    width: 90%;
}

.card .details .director{
    color: #fff;
    opacity: 0.5;
    font-size: 12px;
    width: 90%;
}

.card .details .rating{
    margin: 10px 0;
    padding: 5px 0;
}


.card .details .rating span{
    margin-left: 10px;
    color: #fff;
    opacity: 0.4;
}

.card .details .tags span{
    padding: 5px;
    margin-right: 2px;
    background-color: #aeb6bb;
    border-radius: 5px;
}

.card .details .review{
    margin-top: 10px;
    color: #fff;
    width: 90%;
}

.fav{
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 80px;
    font-size: 30px;
    height: 30px;
}

.fa-regular{
    color: #fff;
}

.fa-solid{
    color: red;
}





/* Tablet styles */
@media only screen and (min-width: 768px) {
    header {
        width: 80%;
        height: 90%;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 10px 25px -8px #000;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
    header {
        width: 80%;
        height: 80%;
    }
}

/* For screens smaller than 600px */
@media screen and (max-width: 600px) {
    #search-container {
      padding: 0px 50px;
      margin-left: 0px;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    #search-container input[type='text'] {
      width: 100%;
      margin-bottom: 10px;
    }
  
    #favourites {
      margin-top: 10px;
    }
  }
  
  /* For screens between 600px and 1200px */
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    #search-container {
      padding: 0px 100px;
      margin-left: 100px;
    }
  }
  
  /* For screens larger than 1200px */
  @media screen and (min-width: 1200px) {
    #search-container {
      padding: 0px 220px;
      margin-left: 400px;
      justify-content: space-around;
      align-items: center;
      margin-top: -60px;
    }
  
    #search-container input[type='text'] {
      width: 200px;
      margin-right: 10px;
    }
  
    #favourites {
      margin-top: 0px;
    }
  }

  /* For screens smaller than 768px */
@media only screen and (max-width: 767px) {

    #movies-container {
      margin-top: 50px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .card {
      width: 100%;
      height: auto;
    }
  
    .card .poster::before {
      bottom: -80%;
    }
  
    .card:hover .poster::before {
      bottom: -50%;
    }
  
    .card .poster img {
      height: 300px;
    }
  
    .card:hover .poster img {
      transform: translateY(-20px);
      filter: none;
    }
  
    .card .details {
      height: auto;
      bottom: -100%;
      padding: 10px;
    }
  
    .card:hover .details {
      bottom: 0;
    }
  
    .card .details .title {
      font-size: 24px;
      width: 100%;
    }
  
    .card .details .director {
      font-size: 10px;
    }
  
    .card .details .review {
      font-size: 14px;
    }
  
    .fav {
      top: 10px;
      right: 10px;
      font-size: 24px;
      height: 20px;
    }
  }
  
  /* For screens between 768px and 1024px */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
    #movies-container {
      margin-top: 80px;
      gap: 20px;
    }
  
    .card {
      width: calc(50% - 20px);
      height: auto;
    }
  
    .card .poster::before {
      bottom: -120%;
    }
  
    .card:hover .poster::before {
      bottom: -80%;
    }
  
    .card .poster img {
      height: 350px;
    }
  
    .card:hover .poster img {
      transform: translateY(-30px);
      filter: none;
    }
  
    .card .details {
      height: auto;
      bottom: -200%;
      padding: 20px;
    }
  
    .card:hover .details {
      bottom: 0;
    }
  
    .card .details .title {
      font-size: 28px;
      width: 90%;
    }
  
    .card .details .director {
      font-size: 12px;
    }
  
    .card .details .review {
      font-size: 16px;
    }
  }
  
  /* For screens larger than 1024px */
  @media only screen and (min-width: 1024px) {
  
    #movies-container {
      margin-top: 40px;
      gap: 30px;
    }
  
    .card {
      width: calc(33.33% - 20px);
      height: 450px;
    }
  
    .card .poster::before {
      bottom: -140px;
    }
  
    .card:hover .poster::before {
      bottom: 0;
    }
  
    .card .poster img {
      height: 450px;
    }
  
    .card:hover .poster img {
      transform: translateY(-50px);
      filter: blur(5px);
    }
  
    .card .details {
      height: 350px;
      bottom: -250px;
      padding: 20px;
    }
  
    .card:hover .details {
      bottom: 0;
    }
  
    .card .details .title {
      font-size: 28px;
      width: 90%;
    }
  
    .card .details .director {
      font-size: 12px;
    }
  
    .card .details .review {
      font-size: 16px;
    }
  }
   
  

